.carousel-item {
    height: 400px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin-top: auto;
    
   
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    border-radius: 0.5rem;
}
